cryptography==3.4.8; python_version < '3.12'  # incompatibility between pyopenssl 19.0.0 and cryptography>=37.0.0
cryptography==44.0.1 ; python_version >= '3.12'  # (Noble) min 41.0.7, pinning 42.0.8 for security fixes
odoo_test_helper
