<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_main" parent="base.menu_administration" name="Remote Odoo import" sequence="5" />
        <act_window id="action_import_odoo_database"
            res_model="import.odoo.database"
            name="Import configurations"
            view_mode="tree,form"
        />
        <menuitem id="menu_import_odoo_database" action="action_import_odoo_database" parent="menu_main" />
    </data>
</openerp>
