<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2016-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo>

    <menuitem id="menu_mass_sort_config"
        action="action_mass_sort_config"
        parent="base.menu_custom" sequence="30"/>

</odoo>
