# Archives and folders by Juan
prueba1.py

# Temp files
*~
.*~
*.tmp
*.temp

# Compiled files
*.pyc
*.o

# Customized config files
*.custom

# Log files
*.log

# Bzr-related
.bzr
.bzr/*
.bzrignore

# IDEs-related
*.metadata
*.settings
*.prefs
*.project
*.pydevproject
*.nja
*.eric5project
*.e4p
*.e5p

# Archives
*.gz
*.bz2
*.zip
*.tar

# Dump files
*.dump

# Old and backup files
*.old
*.bkp 
