<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record model="ir.ui.menu" id="menu_database_cleanup">
            <field name="name">Database cleanup</field>
            <field name="sequence" eval="10" />
            <!-- attach to Settings -> Technical -->
            <field name="parent_id" ref="base.menu_custom"/>
        </record>

        <record model="ir.ui.menu" id="menu_purge_modules">
            <field name="name">Purge obsolete modules</field>
            <field name="sequence" eval="10" />
            <field name="action" ref="action_purge_modules" />
            <field name="parent_id" ref="menu_database_cleanup"/>
        </record>

        <record model="ir.ui.menu" id="menu_purge_models">
            <field name="name">Purge obsolete models</field>
            <field name="sequence" eval="20" />
            <field name="action" ref="action_purge_models" />
            <field name="parent_id" ref="menu_database_cleanup"/>
        </record>

        <record model="ir.ui.menu" id="menu_purge_columns">
            <field name="name">Purge obsolete columns</field>
            <field name="sequence" eval="30" />
            <field name="action" ref="action_purge_columns" />
            <field name="parent_id" ref="menu_database_cleanup"/>
        </record>

        <record model="ir.ui.menu" id="menu_purge_tables">
            <field name="name">Purge obsolete tables</field>
            <field name="sequence" eval="30" />
            <field name="action" ref="action_purge_tables" />
            <field name="parent_id" ref="menu_database_cleanup"/>
        </record>

    </data>
</openerp>
