body.o_is_impersonated .o_menu_systray {
    background: repeating-linear-gradient(
        135deg,
        #32d804,
        #32d804 10px,
        #373435 10px,
        #373435 20px
    );
    border-bottom-left-radius: 20px;

    > li {
        > a,
        > label {
            &:hover {
                background-color: fade_out($o-navbar-inverse-link-hover-bg, 0.5);
            }
        }
    }

    .show .dropdown-toggle {
        background-color: fade_out($o-navbar-inverse-link-hover-bg, 0.5);
    }
}
