<?xml version="1.0"?>
<openerp>
  <data>
    {% for record in records %}
    <!--
        <record id="{{ model }}_{{ loop.index }}" model="{{ model }}">
        {% for key, val in record.read()[0].items() %}
            <field name="{{ key }}">{{ val }}</field>
        {% endfor %}
        </record>
       -->
        {% if not loop.last %}

        {% endif %}
    {% endfor %}
  </data>
</openerp>
