<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!--    Tools - Repository of Modules for Odoo                              -->
<!--    Copyright (C) 2014- Today GRAP (http://www.grap.coop)               -->
<!--    @author Sylvain LE GAL (https://twitter.com/legalsylvain)           -->

<!--This program is free software: you can redistribute it and/or modify    -->
<!--it under the terms of the GNU Affero General Public License as          -->
<!--published by the Free Software Foundation, either version 3 of the      -->
<!--License, or (at your option) any later version.                         -->

<!--This program is distributed in the hope that it will be useful,         -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of          -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           -->
<!--GNU Affero General Public License for more details.                     -->

<!--You should have received a copy of the GNU Affero General Public License-->
<!--along with this program.  If not, see <http://www.gnu.org/licenses/>.   -->
<!-- ********************************************************************** -->
<!-- ********************************************************************** -->
<openerp>
    <data>

        <menuitem id="menu_ir_module_repository" 
            name="Repositories" sequence="40" 
            parent="base.menu_management" 
            action="action_ir_module_repository"/>

    </data>
</openerp>
