<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem id="menu_main"
            parent="base.menu_administration"
            sequence="0"
            name="Profiler"/>

        <record model="ir.actions.client" id="action_profiler_enable">
          <field name="name">Enable Profiler</field>
          <field name="tag">profiler.enable</field>
        </record>
        <menuitem id="menu_enable"
                  parent="menu_main"
                  sequence="10"
                  action="action_profiler_enable"
                  name="Start profiling"/>

        <record model="ir.actions.client" id="action_profiler_disable">
          <field name="name">Disable Profiler</field>
          <field name="tag">profiler.disable</field>
        </record>
        <menuitem id="menu_disable"
                  parent="menu_main"
                  sequence="20"
                  action="action_profiler_disable"
                  name="Stop profiling"/>

        <record model="ir.actions.client" id="action_profiler_dump">
          <field name="name">Dump Stats</field>
          <field name="tag">profiler.dump</field>
        </record>
        <menuitem id="menu_dump"
                  parent="menu_main"
                  sequence="30"
                  action="action_profiler_dump"
                  name="Dump stats"/>

        <record model="ir.actions.client" id="action_profiler_clear">
          <field name="name">Clear Stats</field>
          <field name="tag">profiler.clear</field>
        </record>
        <menuitem id="menu_clear"
                  parent="menu_main"
                  sequence="40"
                  action="action_profiler_clear"
                  name="Clear stats"/>
    </data>
</openerp>
