.base_changeset_reject,
.base_changeset_apply {
    width: 25px;
}

.base_changeset_button {
    cursor: pointer;
}

.base_changeset_popover {
    max-width: 100%;
}
// .popover has z-index: 1060, we need to change it and set z-index of other
// parts so that it does not overlap.
.popover {
    z-index: 1 !important;
}
html .o_web_client > .o_action_manager > .o_action > .o_control_panel {
    z-index: 2;
}
.o_list_table tr.changeset-unlink {
    background: #fd9090 !important;
}
.o_list_table tr.changeset-create {
    background: #acf7ac !important;
    text-align: center;
}
